* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ui-dark {
  background-color: #111;
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main > h2 {
  width: 180px;
  text-align: center;
  font-size: 32px;
}

.themeToggle {
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
}

.themeToggle:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
