* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 300px;
  margin: 120px auto;

  gap: 8px;
}

#top {
  display: flex;
  gap: 64px;
  align-items: center;
  margin-bottom: 16px;
}

.toggle {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
}

.modeType {
  display: none;
  width: 180px;
  font-size: 32px;
}

.toggle:hover {
  cursor: pointer;
}

body[data-theme="dark"] .dark {
  display: block;
}

body[data-theme="light"] .light {
  display: block;
}

body[data-theme="dark"] {
  background-color: #111;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
